$color1: #f4f4f4;
$color2: #e04b55;
$color3: #ff436c;
$color4: #32a5c2;
$color5: #ffa52f;
$btncolor: #f06c00;
$primary: #1266f1;
$secondary: #b23cfd;
$success: #00b74a;
$danger: #f93154;
$Warning: #ffa900;
$info: #39c0ed;
$light: #fbfbfb;
$dark: #262626;
$text: #5a5a5a;
$input_text: #494949;

.content {
  margin-top: 15px;
  margin-left: 0px;
  background-color: #f0f2f5;
}
.popose {
  display: grid;
  background-color: white;
  min-height: calc(100vh - 100px);
  padding: 5px;
  width: 1200px;
  grid-template-areas: "title" "body";
  grid-template-rows: 80px auto;
  border-radius: 10px;
  margin-bottom: 20px;
}
.p_title {
  grid-area: title;
  background-color: $success;
  color: $light;
  width: 300px;
  height: 60px;
  border-radius: 10px;
  line-height: 60px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px;
  margin-left: -45px;
  margin-top: -5px;
}
.p_body {
  display: grid;
  grid-area: body;
}
.p_content {
  display: grid;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 20px;
}

.p_content p {
  font-size: 18px;
  color: $dark;
}

.p_content label.info {
  font-weight: bold;
}
.p_content p.member {
  text-indent: 2em;
}
.p_content input {
  outline: none;
  margin-bottom: 10px;
  background-color: #f0f2f5;
  border: none;
  border-radius: 10px;
  text-indent: 2em;
  height: 50px;
  font-size: 16px;
}
.p_content textarea {
  resize: none;
  outline: none;
  margin-bottom: 10px;
  background-color: #f0f2f5;
  border: none;
  border-radius: 10px;
  text-indent: 2em;
  height: 100px;
  font-size: 16px;
}
.p_content select {
  outline: none;
  margin-bottom: 10px;
  background-color: #f0f2f5;
  border: none;
  border-radius: 10px;
  text-indent: 2em;
  height: 50px;
  font-size: 16px;
}

.button {
  border: none;
  margin-top: 30px;
  height: 40px;
  outline: none;
  background-color: $primary;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-radius: 10px;
}

.button:hover {
  cursor: pointer;
  background-color: $info;
}

.s_btn {
  border: none;
  margin-top: 30px;
  height: 40px;
  outline: none;
  width: 150px;
  background-color: $Warning;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-radius: 10px;
}

.s_btn:hover {
  cursor: pointer;
  background-color: $danger;
}

/*===================================================================*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal_content {
  border-radius: 10px;
  position: relative;
  background-color: #fefefe;
  margin: auto;
  height: auto;
  padding: 0;
  border: 1px solid #888;
  width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal_header {
  border-radius: 5px;
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
  text-align: center;
  background-color: $danger;
  height: 50px;
  line-height: 10px;
  margin-bottom: 20px;
}

.modal_body {
  margin-right: 30px;
  margin-left: 30px;
  padding: 2px 16px;
}
.modal_body p {
  font-size: 20px;
  margin-top: 0px;
}

.modal_body p.result {
  margin-left: 30px;
  margin-top: 0px;
  font-weight: bold;
  color: #464545;
}
.modal_body button {
  outline: none;
  border: none;
  background-color: $Warning;
  text-align: center;
  height: 40px;
  width: 100%;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border-radius: 10px;
}
.modal_body button.select {
  outline: none;
  border: solid 1px $text;
  background-color: white;
  text-align: center;
  height: 40px;
  width: 120px;
  color: $text;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border-radius: 10px;
  margin-left: 10px;
  font-weight: bold;
}
.modal_body button.select:hover {
  border: solid 2px $success;
  color: $success;
  background-color: white;
}
.modal_body button:hover {
  cursor: pointer;
  background-color: rgb(253, 198, 78);
}

.modal_footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}
